pipeline/schema_mapping.json
{
	"name": "schema_mapping",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DelimitedText1",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"value": "@if(equals(item().name,'customers.cvs'),pipeline().parameters.customers_schema,if(equals(item().name,'drivers.cvs'),pipeline().parameters.drivers_schema,pipeline().parameters.locations_schema))",
									"type": "Expression"
								}
							},
							"inputs": [
								{
									"referenceName": "dynamic_link",
									"type": "DatasetReference",
									"parameters": {
										"container": "source",
										"directory": "files",
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DelimitedText2",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"customers_schema": {
				"type": "object",
				"defaultValue": {
					"type": "TabularTranslator",
					"mappings": [
						{
							"source": {
								"type": "String",
								"ordinal": 1
							},
							"sink": {
								"name": "Column1",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"type": "String",
								"ordinal": 2
							},
							"sink": {
								"name": "Column2",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"type": "String",
								"ordinal": 3
							},
							"sink": {
								"name": "Column3",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"type": "String",
								"ordinal": 4
							},
							"sink": {
								"name": "Column4",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"type": "String",
								"ordinal": 5
							},
							"sink": {
								"name": "Column5",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"type": "String",
								"ordinal": 6
							},
							"sink": {
								"name": "Column6",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"type": "String",
								"ordinal": 7
							},
							"sink": {
								"name": "Column7",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"type": "String",
								"ordinal": 8
							},
							"sink": {
								"name": "Column8",
								"type": "String",
								"physicalType": "String"
							}
						}
					],
					"typeConversion": true,
					"typeConversionSettings": {
						"allowDataTruncation": true,
						"treatBooleanAsNumber": false
					}
				}
			},
			"locations_schema": {
				"type": "object",
				"defaultValue": {
					"type": "TabularTranslator",
					"mappings": [
						{
							"source": {
								"type": "String",
								"ordinal": 1
							},
							"sink": {
								"name": "Column1",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"type": "String",
								"ordinal": 2
							},
							"sink": {
								"name": "Column2",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"type": "String",
								"ordinal": 3
							},
							"sink": {
								"name": "Column3",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"type": "String",
								"ordinal": 4
							},
							"sink": {
								"name": "Column4",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"type": "String",
								"ordinal": 5
							},
							"sink": {
								"name": "Column5",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"type": "String",
								"ordinal": 6
							},
							"sink": {
								"name": "Column6",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"type": "String",
								"ordinal": 7
							},
							"sink": {
								"name": "Column7",
								"type": "String",
								"physicalType": "String"
							}
						}
					],
					"typeConversion": true,
					"typeConversionSettings": {
						"allowDataTruncation": true,
						"treatBooleanAsNumber": false
					}
				}
			},
			"drivers_schema": {
				"type": "object",
				"defaultValue": {
					"type": "TabularTranslator",
					"mappings": [
						{
							"source": {
								"type": "String",
								"ordinal": 1
							},
							"sink": {
								"name": "Column1",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"type": "String",
								"ordinal": 2
							},
							"sink": {
								"name": "Column2",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"type": "String",
								"ordinal": 3
							},
							"sink": {
								"name": "Column3",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"type": "String",
								"ordinal": 4
							},
							"sink": {
								"name": "Column4",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"type": "String",
								"ordinal": 5
							},
							"sink": {
								"name": "Column5",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"type": "String",
								"ordinal": 6
							},
							"sink": {
								"name": "Column6",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"type": "String",
								"ordinal": 7
							},
							"sink": {
								"name": "Column7",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"type": "String",
								"ordinal": 8
							},
							"sink": {
								"name": "Column8",
								"type": "String",
								"physicalType": "String"
							}
						}
					],
					"typeConversion": true,
					"typeConversionSettings": {
						"allowDataTruncation": true,
						"treatBooleanAsNumber": false
					}
				}
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-03-10T18:19:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}